*, *:before, *:after
    box-sizing: border-box
    outline: none
    margin: 0
*:focus
    outline: none
html
    font-size: 14px
body
    font-family: 'Roboto', sans-serif
img
    max-width: 100%
.container
    width: 100%
    max-width: 1140px
    margin: 0 auto